body {
    background-color: black;
}
.unorderlist {
    list-style-type: none;
   text-align: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .homeBG {
    background-image: url('../images/space.jpg');
        background-size:cover;
        background-position: Top center;
  }

  .whiteword {
    list-style-type: none;
    text-align: center;
    color: white;
     margin: 0;
     padding: 0;
     overflow: hidden;
  }
  a:link {color: white;}  
  a:visited {color: whitesmoke} 
  .common {
         background-color: black;
         border: solid 2px black;
         position: absolute;
  }
  
  .footer{
    bottom: 3px;
    height: 50px;
    left: 5px;
    right: 5px;
    font-size: 12px;
    color: white;
    text-align: center;
    position: fixed;
  }